<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/object/DirectoratesList.js"></script>

<link href="~/Content/Stylesheets/link.css" rel="stylesheet" />


<table id="gridDirectorates"></table>
<div id="pager"></div>
    