
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}

<link href="~/Content/Stylesheets/style.css" rel="stylesheet" />
<link href="~/Content/Stylesheets/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/Tabs.js"></script>
<link href="~/Content/Stylesheets/form-input.css" rel="stylesheet" />
<link href="~/Content/Stylesheets/ui.jqgrid.css" rel="stylesheet" />

<h1 style="font-weight:bold;color:green">Supporting Materials Details</h1>

<div id="tabs">
    
    <ul>
        <li><a href="#tabs-1"style="font-weight:bold;font-size:12px;">Details 5</a></li>
    </ul>
    <div id="tabs-1">
        <div style="height:50px;">
            <label style="float:right;font-weight:bold;font-size:12px;">Include In-active</label> 
            <input id="Checkbox1" type="checkbox" style="float:right"/>
            @Html.ActionLink("Create", "SupportingMaterialsDetail", "SupportingMaterials", new { @class = "Buton" })
        </div>

        <div style="width:100%;">
            @Html.Partial("~/Views/SupportingMaterials/SupportingMaterialsList.cshtml")
        </div>
    </div>
</div>