<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/object/SupportingMaterialsList.js"></script>

<table id="gridSupportingMaterial"></table>
<div id="pager"></div>
