<div class="well" style="background:#ffffff">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Service Benefits Criterion</label>
                    <div class="col-sm-7">
                        <div class="checkbox-container">
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />B
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Service Barriers Criterion</label>
                    <div class="col-sm-7">
                        <div class="checkbox-container">
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />B
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Service Ethnicity Criterion</label>
                    <div class="col-sm-7">
                        <div class="checkbox-container">
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />B
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Service Disability Criterion</label>
                    <div class="col-sm-7">
                        <div class="checkbox-container">
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />B
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Service Personal Circumstances Criterion</label>
                    <div class="col-sm-7">
                        <div class="checkbox-container">
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />B
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Other Service Participation Criterion</label>
                    <div class="col-sm-7">
                        <div class="checkbox-container">
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />A <br />
                            <input type="checkbox" />B
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>