<div class="well" style="background:#ffffff">
    <div class="row">
        <h4 class="control-label">General</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Source</label>
                    <div class="col-sm-7">
                        <select class="form-control" required>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Contact Details<font color="red"> *</font></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" readonly required>
                    </div>
                    <button class="btn btn-link col-sm-2">Lookup</button>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Amount<font color="red"> *</font></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Start</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding End</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Needs</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Continuation Needed</label>
                    <div class="col-sm-7" style="margin-top:7px">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Continuation Amount</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Funding Continuation Detail</label>
                    <div class="col-sm-7">
                        <textarea style="resize:none" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h4 class="control-label">Fundraising For Service Project</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundraising For Text</label>
                    <div class="col-sm-7">
                        <textarea style="resize:none" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundraising Why</label>
                    <div class="col-sm-7">
                        <textarea style="resize:none" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundraising Needs</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundrasing Required By</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundrasing Complete</label>
                    <div class="col-sm-7" style="margin-top:7px">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundrasing Completed Date</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control" readonly disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h4 class="control-label">Fundraising Donor</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundraising Donor Anonymous</label>
                    <div class="col-sm-7" style="margin-top:7px">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundraising Donor Amount</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundraising Donation Date</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Fundrasing Donation Incremental</label>
                    <div class="col-sm-7" style="margin-top:7px">
                        <input type="checkbox">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>