<div id="modalChangeRoles" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Change Roles Of Organisation</h3>
            </div>
            <div class="modal-body">
                <div class="well" style="background:#ffffff">
                    <input type="checkbox" />Funder <br />
                    <input type="checkbox" />Lead <br />
                    <input type="checkbox" />Delivery <br />
                    <input type="checkbox" />Auditor <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>